@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="container text-center mt-5">
    <h1>Ласкаво просимо до CarServiceApp</h1>
    <p>Керуйте вашим автосервісом швидко та зручно.</p>
    <a href="/Cars" class="btn btn-primary">Переглянути список автомобілів</a>
</div>
