@{
    ViewData["Title"] = "Реєстрація";
}

<h2 class="text-center">Реєстрація</h2>

<form method="post" asp-action="Register" asp-controller="Account" style="margin-top: 20px;">
    <div class="form-group">
        <label for="FirstName">Ім'я</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Введіть своє ім'я" required>
    </div>
    <div class="form-group mt-3">
        <label for="LastName">Прізвище</label>
        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Введіть своє прізвище" required>
    </div>
    <div class="form-group mt-3">
        <label for="Email">Електронна пошта</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="Введіть свою електронну пошту" required>
    </div>
    <div class="form-group mt-3">
        <label for="Password">Пароль</label>
        <input type="password" class="form-control" id="Password" name="Password" placeholder="Створіть безпечний пароль" required>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Зареєструватись</button>
</form>
